<div class="responsive-nav">
  <i class="fa fa-bars" id="menu-toggle"></i>
  <div id="menu" class="menu">
    <i class="fa fa-times" id="menu-close"></i>
    <div class="container">
      <div class="author-content">
        <h4>Angel Espinoza</h4>
        <span data-i18n="role">Desarrollador Full-Stack</span>
      </div>

      <nav class="main-nav" role="navigation">
        <ul class="main-menu">
          <li><a href="#section1" class="nav-link" data-i18n="about.title">Sobre Mí</a></li>
          <li><a href="#section2" class="nav-link" data-i18n="skills.title">Habilidades</a></li>
          <li><a href="#section3" class="nav-link" data-i18n="projects.title">Proyectos</a></li>
          <li><a href="#section4" class="nav-link" data-i18n="contact.title">Contacto</a></li>
        </ul>
      </nav>

      <div class="sidebar-controls">
        <!-- Selector de idioma -->
        <div class="sidebar-language-switch">
          <span class="language-icon"><i class="fas fa-globe"></i></span>
          <div class="language-options">
            <span class="language-switch active" data-lang="es">ES</span>
            <span class="language-switch" data-lang="en">EN</span>
          </div>
        </div>

        <!-- Selector de tema -->
        <div class="sidebar-theme-switch">
          <span class="theme-icon"><i class="fas fa-sun"></i></span>
          <div class="theme-toggle">
            <label class="theme-switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <span class="theme-icon"><i class="fas fa-moon"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>







